@model IEnumerable<AppModel>
@{
    ViewBag.Title = "Request Token";
}
<h2>Request Token</h2>
@foreach (var app in Model)
{
    <form action="/oauth/request_token" method="post">
        
        @Html.Hidden("grant_type", "authorization_code")
        @Html.Hidden("code", Request.QueryString["code"])
        @Html.Hidden("redirect_uri", app.RedirectUri)
        @Html.Hidden("client_id", app.ClientId)
        <button type="submit">Request Token for @app.Name</button>
    </form>
}